<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wearoslux">

    <!-- 권한 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- 최소 SDK 및 타겟 SDK -->
    <uses-sdk
        android:minSdkVersion="30"
        android:targetSdkVersion="34" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@android:style/Theme.DeviceDefault">

        <!-- 메인 Activity -->
        <activity
            android:name=".presentation.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>